{%extends 'base.html' %}

    {%block header%}
        <h1>{% block title %}Edit {{ todo['description'] }}{% endblock %}</h1>
    {%endblock%}

    {%block content%}
        <form method="post">
            <label for="description">Description</label>
            <input
                    type="text"
                    name="description"
                    id="description"
                    value="{{  request.form['description'] or todo['description'] }}"
                    required
            />
            <label for="completed">Completed</label>
            <input
                    type="checkbox"
                    name="completed"
                    id="completed"
                    {% if todo['completed'] == 1 %}checked{% endif %}
            />
            <input type="submit" value="Update">
        </form>
        <form method="post" action="{{ url_for('todo.delete', id=todo['id']) }}">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete it?')"/>
        </form>
    {%endblock%}